/* ================================Titulo Principal================================ */

.header__titulo--apuntes{
  text-align: center;
  margin: var(--margin-grande) auto;

}
.header__enlace--apuntes{
  text-decoration: none;
  font-size: var(--font-size-titulo-h1);
  color: var(--color-texto);
}
.header__tema{
  color: var(--color-destacado);
}

/* ================================Indice Autogenerado================================ */

.indice{}
.indice__navegacion{}

.indice__lista{
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: var(--gap-pequeño);
}
.indice__elemento{
}
.indice__enlace{
  display: block;
  font-size: var(--font-size-indice);
  text-align: center;
  text-decoration: none;

  background-color: var(--color-destacado);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
}
.indice__enlace:hover{
  background-color: var(--color-destacado-hover);
}

/* ================================Apuntes Global================================ */

.contenido{
    text-align: center;
}
.apunte__titulo-h2{
    font-size: var(--font-size-titulo-h2);
    margin: var(--margin-grande) 0;
}
.titulo-h2__span{
    color: var(--color-destacado);
}
.apunte__titulo-h3{
    font-size: var(--font-size-titulo-h3);
    margin: var(--margin-grande) 0;
}
.apunte__titulo-h4{
    font-size: var(--font-size-titulo-h4);
    margin: var(--margin-grande) 0;
}
.apunte__parrafo{
    text-align: left;
    margin: var(--margin-grande) 0;
}
/* ================================Apuntes LISTA DESORDENADA================================ */

.lista-desordenada{
    margin: var(--margin-grande) 0;

    display: flex;
    flex-direction: column;
    gap: var(--gap-pequeño);
}
.lista-desordenada__elemento{
    text-align: left;
    list-style: none;
    background-color: var(--color-fondo);

    padding: var(--padding-grande);
    border-radius: var(--borde-normal);
    border-left: solid var(--color-extras-3) var(--borde-pequeño);
}

.lista-desordenada__elemento--f-blanco{
    background-color: var(--color-blanco);
}

/* ================================Apuntes LISTA DESCRIPTIVA================================ */

.lista-descriptiva{
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);

    margin: var(--margin-grande) 0;
}
.lista-descriptiva__bloque{
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-radius: var(--borde-grande);
}
.lista-descriptiva__titulo{
    background-color: var(--color-extras-3);
    color: var(--color-blanco);
    font-size: var(--font-size-botones);

    padding: var(--padding-grande);
}
.lista-descriptiva__descripcion{
    background-color: var(--color-fondo);
    padding: var(--padding-grande);
}   

/* ================================Apuntes LISTA DESCRIPCIONES COMPLEJA================================ */

.lista-descriptiva--con-ejemplos{
}
.lista-descriptiva__ejemplos{
    gap: 0;
}

.lista-desordenada--figure{
    margin: 0;
}
.lista-desordenada__elemento--figure{
    text-align: center;
}

/* ================================Apuntes figure================================ */

.figure{
}
.figure__titulo{
    font-size: var(--font-size-titulo-figure);
    text-align: center;
    font-weight: bold;

    margin: var(--margin-grande) 0;
}

/* ================================Apuntes Ejemplos código================================ */

.codigo__bloque{
    background-color: var(--color-fondo);
    text-align: center;
    padding: var(--padding-grande);
    border-radius: var(--borde-grande);

    border-top: var(--borde-normal) solid var(--color-extras-2);
}

/* ================================Apuntes Lista ORDENADA================================ */

.lista-ordenada{}
.lista-ordenada__elemento{
    background-color: red;
    list-style-position: inside;
}
.lista-ordenada__elemento > span{
    width: 10%;
    background-color: blue;
}

/* ================================Apuntes tablas================================ */
.informacion-tabular{
    margin: var(--margin-grande) 0;
}
.informacion-tabular__cards{
    display: flex;
    gap: var(--gap-normal);
    flex-direction: column;
    flex: 1 1 0%;
    margin: var(--margin-grande) 0;
}
.card{
    border-radius: var(--borde-normal);
    overflow: hidden;
}
.card__titulo{
    text-align: center;
    background-color: var(--color-extras-3);
    color: var(--color-blanco);
    padding: var(--padding-grande);
}
.card__parrafo{
    text-align: center;
    padding: var(--padding-grande);
    background-color: var(--color-fondo);
}

.informacion-tabular__tabla{
    display: none;
}
@media screen and (min-width: 500px){
    .informacion-tabular__cards{
        display: none;
    }
    .informacion-tabular__tabla{
        display: table;
        border-collapse: collapse;
    }
    .head__titulo,
    .body__titulo,
    .body__celda{
        padding: var(--padding-grande);
        text-align: center;
        border: solid 1px var(--color-texto);
    }
    .tabla__head{
        background-color: var(--color-extras-3);
        color: var(--color-blanco);
    }
    .body__row:nth-child(odd){
        background-color: var(--color-blanco);
    }
    .body__row:nth-child(even){
        background-color: var(--color-fondo);
    }
}