/* NAVEGACION LAYOUT GENERAL */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navegacion{

    display: flex;
    flex-direction: column;

    width: 100vw;

    background-color: rgb(218, 213, 223);
}
/* =============== NAVEGACION HEAD =============== */
.navegacion__head{
    display: flex;
    align-items: center;
}
    .navegacion__toggle{
        width: 3rem;
        height: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }
        .toggle__icono{
            font-size: 2rem;
        }
    .header__tema{
        text-align: center;
        flex: 1;
    }
    .header__enlace{}
        .header__tema{}

    .head__enlace{
        display: block;

        width: 3rem;
        height: 3rem;

        background-color: white;
        border-radius: .5rem;
    }
        .head__icono{
            font-size: 3rem;
        }
        
    

/* =============== NAVEGACION BODY =============== */
.navegacion__body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .navegacion__enlace{
    }
    .colapsada .navegacion__etiqueta {
    }
    .navegacion__enlace:hover{
    }
    .navegacion__enlace--submenu{
    }
        .submenu{
        }
            .enlace__icono{
            }
            .navegacion__etiqueta{
            }
            
        .submenu__arrow{}
        .colapsada.submenu__arrow{
        }

        .colapsada .submenu__arrow{
        }
    .navegacion__indice{
    }
        .navegacion__submenu{}
        .colapsada .navegacion__submenu{
        }
            .submenu__elemento{
            }
            .submenu__enlace{
            }
            .submenu__enlace:hover{
            }
/* =============== NAVEGACION FOOTER ============= */
.navegacion__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* =============== NAVEGACION COLAPSADA ============= */
.colapsada.navegacion{
}
.colapsado{
}