/* NAVEGACION LAYOUT GENERAL */
.navegacion{
    display: grid;
    grid-template-rows: auto 1fr auto;

    position: fixed;
    top: 0;
    left: 0;

    width: 15rem;
    height: 100svh;

    background-color: rgb(19, 35, 71);
}
/* =============== NAVEGACION HEAD =============== */
.navegacion__head{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    border-bottom: solid;
    color: white;
}
    .head__enlace{
        text-decoration: none;
        width: 4rem;
        height: 4rem;

        display: flex;
        
    }
        .head__logo{
            max-width: 100%;
        }

    .navegacion__toggle{
        border-radius: .5rem;
        border: none;

        width: 3rem;
        height: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        transition: background-color .3s ease;
    }
    .navegacion__toggle:hover{
        background-color: rgb(219, 216, 216);
    }
        .toggle__icono{
            font-size: 2rem;
        }

/* =============== NAVEGACION BODY =============== */
.navegacion__body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
    .navegacion__enlace{
        color: white ;
        text-decoration: none;

        display: flex;
        align-items: center;

        padding: 1rem;
    }
    .navegacion__enlace--submenu{
        justify-content: space-between;
    }
        .submenu{
            display: flex;
            align-items: center;
        }
            .enlace__icono{}
            .navegacion__etiqueta{}
        .submenu__arrow{}
    .navegacion__indice{}
        .navegacion__submenu{}
/* NAVEGACION INDICE */

.navegacion__submenu {}

.submenu__elemento {
    padding: 1rem;
}

.navegacion__submenu {}

.navegacion__indice {
    flex: 1;
    overflow-y: auto;
}
/* =============== NAVEGACION FOOTER ============= */
.navegacion__footer{
}