/* ================================Titulo Principal================================ */

.header__titulo--apuntes{
    text-align: center;
    margin: var(--margin-grande) auto;

}
.header__enlace--apuntes{
    text-decoration: none;
    font-size: var(--font-size-titulo-h1);
    color: var(--color-texto);
}
.header__tema{
  color: var(--color-destacado);
}

/* ================================Indice Autogenerado================================ */

.indice{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.indice__navegacion{}

.indice__lista{
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.indice__elemento{
}
.indice__enlace{
    display: block;
    font-size: var(--font-size-indice);
    text-align: center;
    text-decoration: none;

    background-color: var(--color-destacado);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.indice__enlace:hover{
    background-color: var(--color-destacado-hover);
}
/* ================================Indice Global================================ */

.navegacion-principal__titulo{
    text-align: center;
    color: var(--color-destacado);
    font-size: var(--font-size-titulo-h2);
}

/* ================================Apuntes Global================================ */

.contenido{
    text-align: center;
}
.apunte__titulo-h2{
    font-size: var(--font-size-titulo-h2);
    margin: var(--margin-grande) 0;
}
.titulo-h2__span{
    color: var(--color-destacado);
}
.apunte__titulo-h3{
    font-size: var(--font-size-titulo-h3);
}
.apunte__titulo-h4{
    font-size: var(--font-size-titulo-h4);
}
/* ================================Apuntes LISTA DESORDENADA================================ */

.lista-desordenada{
}
.lista-desordenada__elemento{
    padding: var(--padding-grande);
    list-style: none;
}

/* ================================Apuntes LISTA DESCRIPCIONES================================ */

.apunte__lista-descriptiva{
    display: grid;
    grid-template-columns: repeat(auto, minmax(100px, 1fr));
    gap: .5rem 0;
    margin: 0;
}
.apunte__lista-descriptiva > :nth-of-type(even){
    background-color: rgb(212, 212, 212);
}
.apunte__lista-descriptiva > :nth-of-type(odd){
    background-color: rgb(232, 232, 232);
}
.apunte__lista-descriptiva__titulo{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.apunte__lista-descriptiva__descripcion{
    text-align: center;
    padding: 1rem;
    margin: 0;
}

/* ================================Apuntes LISTA DESCRIPCIONES GRANDE================================ */

.apunte__lista-descriptiva--grande{
}
.apunte__lista-descriptiva__titulo--grande{
    text-align: center;
}
.apunte__lista-descriptiva__descripcion--grande{
    text-align: center;
    margin: 0 0 1rem 0;
}
.apunte__lista-descriptiva__descripcion--grande:nth-last-child{
    margin: 0;
}
.apunte__figure{
    margin: 1rem auto;
    border-radius: 1rem;
    border-left: 1rem solid greenyellow;
    background-color: rgb(240, 240, 240);
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: min(80vw, 100ch);
    overflow-x: auto;
}
.apunte__figure-titulo{
    margin: 0;
    padding: 0;
    display: inline;

}
.apunte__lista-descriptiva__ul{
    margin: 0;
    padding: 0;
}
.apunte__lista-descriptiva__ul-li{
    word-break: break-word;
    hyphens: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}
.codigo__linea{
    background-color: rgb(231, 231, 231);
    border-radius: .3rem;
}

/* ================================Apuntes LISTA ORDENADA================================ */

.apunte__lista-ordenada{
    padding: 0;
}
.apunte__lista-ordenada__elemento{
    list-style: none;
    text-align: center;
}
pre{
    overflow: auto;
}