html{
    box-sizing: border-box;
}
*,
::after,
::before{
    box-sizing: inherit;
}
body {
/* se toma un valor el valor mínimo. En resoluciones pequeñas 90vw, en resoluciones mayores 80ch*/
  max-width: min(90vw, 120ch); 
  margin: 0 auto;
}
.indice{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
main{
    display: grid;
    gap: 1rem;
} @media screen and (40rem <= width <= 70rem) {
    .hidden{
        display: none;
    }
    main{
        grid-template-areas: 
        "indice indice"
        "indice2 apunte"
        ;
    }
    .navegacion-principal{
        grid-area: indice;
    }
    .indice{
        grid-area: indice2;
        position: sticky;
        top: 10vh;
        align-self: start;
        overflow-y: auto;
    }
    .indice__navegacion{
        height: 80vh;
    }
    .contenido{
        grid-area: apunte;
    }
} @media screen and (width > 70rem){
    main{
        grid-template-columns: 1fr 2fr 1fr;
    }
    .indice {
        position: sticky;
        top: 1rem;
        align-self: start;
        height: fit-content;
        overflow-y: auto;
    }
    .navegacion-principal{
        position: sticky;
        top: 1rem;
        align-self: start;
        height: fit-content;
        overflow-y: auto;
    }
    .indice__navegacion{
        height: 80vh;
    }
    
}

.navegacion-principal__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: .5em; /* para separar elementos */
    padding: 0;
}

.navegacion-principal__elemento {
    flex: 1 1 200px; 
}