:root{
    --font-size-indice: 1.4rem;
    
    --font-size-parrafos: 1.6rem;

    --font-size-titulo-h4: 2.0rem;

    --font-size-subtitulo-apunte: 2.4rem;

    --font-size-titulo-apunte: 3.2rem;

    --font-size-titulo-pagina: 4.0rem;
}
html{
    font-size: 62.5%;
}

/* =====================elementos pagina principal=================== */

.pagina__titulo{
    font-size: var(--font-size-titulo-pagina);
    text-align: center;
    margin: 2rem auto;
}

.introduccion__parrafo{
    text-align: center;
    font-size: var(--font-size-parrafos);
    margin: 0;
}