
/* =====================elementos pagina principal=================== */

.header__titulo {
    font-size: var(--font-size-titulo-h1);
    text-align: center;
    color: var(--color-destacado);
  
  margin: 0;
}

.introduccion__parrafo{
    text-align: center;
    margin: 0;
}
.introduccion__enlace{
    color: var(--color-extras);

    white-space: nowrap;
}

.introduccion__enlace::after{
  content: "";
  display: inline-block;
  background-image: url(/icons/open_in_new_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg);
  height: var(--font-size-parrafo);
  width: var(--font-size-parrafo);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: var(--margin-pequeño);
  background-attachment: local;
}